.list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 270px;
    width: 270px;
    margin: 10px;
}
.thumb-nail-image{
    width: 270px;
    height: 150px;
}
.title_and_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    box-shadow: inset 0 0 4px #bababa;
    margin-top: -8px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.title{
    font-size: 14px;
    font-weight: 500;
    color: #202021;
    width: 270px;
    flex-wrap: wrap;
    text-align: center;
}
.watch-btn{
    background-color: tomato;
    color: #ffffff;
    width: 100px;
    height: 36px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0px;
    border-radius: 35px;
}
.btn-icon-watch{
    margin-right: 8px;
}